# Caminho absoluto ou relativo para as credenciais do Firebase
GOOGLE_APPLICATION_CREDENTIALS= .sua chave de serviço do google aqui

# Outras variáveis
PORT=5000
NODE_ENV=development

# Tokens estáticos para bypass local (Apenas em NODE_ENV=development)
DEV_PROFESSOR=DEV_PROFESSOR
DEV_ALUNO=DEV_ALUNO
DEV_ADMIN=DEV_ADMIN